<!DOCTYPE html>
<html>
<title>DNS Lookup</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="static/bg.css">
<style>
body, html {height: 100%}
body,h1,h2,h3,h4,h5,h6 {font-family: sans-serif;}
.menu {display: none}
.bgimg{
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90%;}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #4CAF50;
}



</style>
<body>


<!-- Header with image -->
<header class="bgimg w3-display-container w3-grayscale-min" id="home" style="background-image:url('static/img/bg4.jpg')">
  <div class="container demo">
   <div class="content">
      <div id="large-header" class="large-header">
         <canvas id="demo-canvas"></canvas>
        <h1 class="main-title"><span class="thin">DNS Project</span>
        
          <div style="margin-top:20px;">
            <a href="{{ url_for('dnslookup') }}"><button class="button button1" style="margin-left:40px; font-size:20px; width: 300px;">DNS Lookup </button></a>
            <a href="{{ url_for('Revdnslookup') }}"><button class="button button1" style="margin-left:40px; font-size: 20px; width: 300px;">Reverse DNS Lookup </button></a>
            </div>
        
        </h1>
      </div>
   </div>
</div>
</header>

<!-- About -->
<div class="bgimg w3-display-container w3-padding-64 w3-grayscale-min w3-xlarge" id="about" style="background-image:url('static/img/pricing-bg.jpg')">
  <div class="w3-content" style="color:#FFFFFF;">
    <div id="back"></div>
    <div id="front"></div>

    <h1 class="w3-center w3-jumbo" style="padding-top: 250px;">About</h1>
    <p>This portal was made by students Pradyumn Sharma,Samarth Singh, Daksh Chauhan and Aditya Naresh of IIT Jammu as a project.If you are facing some issues on this site or you have any suggestions then please send a message to the creaters</p>
      </div>
</div>


<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/TweenLite.min.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/EasePack.min.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo.js"></script>
</body>
</html>
