<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    {% if title %}
      <title> {{ title }} </title>
    {% else %}
      <title>DNS Lookup</title>
    {% endif %}
  </head>
  <body style="background-image: url('static/img/bg4.jpg') ;background-color:voilet; background-position:center;background-attachment: fixed;">
    
    <div class="navbar navbar-expand-sm bg-dark navbar-dark">
      <div class="container">
        <a class="w3-bar w3-xlarge w3-transparent w3-opacity w3-hover-opacity-off" style="color:white;" href="/">DNS Project</a>
          <a class="w3-bar w3-xlarge w3-transparent w3-opacity w3-hover-opacity-off" style="color: white;" href="{{ url_for('dnslookup') }}">DNS LOOKUP</a>
          <a class="w3-bar w3-xlarge w3-transparent w3-opacity w3-hover-opacity-off" style="color: white;" href="{{ url_for('Revdnslookup') }}">Reverse DNS Lookup</a>
      </div>
    </div>

    <div class="bgimg3 w3-display-container" style="top:13%;">
    <div style="width: 600px;
  border: 2px solid black;
  box-shadow: 5px 5px 2px black;
  padding: 50px;
  margin: 20px;background-image: url('static/img/header-bg.jpg')">
      {% block content %} {% endblock  %}
    </div>
  </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>


  </body>
</html>