{% extends "layout.html" %}
{% block content %}
<div class="content-section">
  <form action="" method="POST">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4" style="color: white">Reverse DNS Lookup</legend>

      <div class="form-group" style="color: white">
        {{ form.domain_name.label(class="form-control-label") }}

        {% if form.domain_name.errors %}
        {{ form.domain_name(class="form-control form-control-lg is-invalid")}}
          <div class="invalid-feedback">
            {% for error in form.domain_name.errors %}
              <span> {{ error }}</span>
            {% endfor %}
        {% else %}
          {{ form.domain_name(class="form-control form-control-lg")}}
        {% endif %}
          </div>
      </div>
    </fieldset>

    <div class="form-group">
      {{ form.submit(class="btn btn-outline-success")}}
    </div>

    <small class="ml-2">

    </small>

    <div class="border-top pt-3">
      <small class="text-muted ml-2">
      </small>
    </div>
  </form>
  </div>


{% endblock content %}