{% extends "layout.html" %}
{% block content %}
<div class="content-section">
  <form action="" method="POST">
    {{ form.hidden_tag() }}
    <fieldset class="form-group" style="border:none">
      <legend class="border-bottom mb-4" style="color: white;border:none">Reverse DNS Lookup</legend>

      <div class="form-group" style="color: white">
        {{ form.domain_name.label(class="form-control-label") }}

        {% if form.domain_name.errors %}
        {{ form.domain_name(class="form-control form-control-lg is-invalid")}}
          <div class="invalid-feedback">
            {% for error in form.domain_name.errors %}
              <span> {{ error }}</span>
            {% endfor %}
        {% else %}
          {{ form.domain_name(class="form-control form-control-lg")}}
        {% endif %}
          </div>
      </div>
    </fieldset>

    <div class="form-group">
      {{ form.submit(class="btn btn-outline-success")}}
    </div>
    {% with messages=get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}" style="box-shadow: none;">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
    {% endwith %}

  </form>
  </div>


{% endblock content %}