<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/css/ol.css" type="text/css">
    <style>
      .map {
        height: 500px;
        width: 300px;
      }
    .wrapper{position:relative;}
    .right,.left{width:50%; position:absolute;}
    .right{right:0;}
    .left{left:0;}

    </style>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/build/ol.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    {% if title %}
      <title> {{ title }} </title>
    {% else %}
      <title>DNS LOOKUP</title>
    {% endif %}
  </head>
  <body style="background-image: url('static/img/bg4.jpg') ;background-color:violet; background-position:center;background-attachment: fixed;">
    
    <script>var lon={{lon}};  var lat={{lat}}; </script>
    <div class="bgimg3 w3-display-container wrapper">
        <div id="left_half" class="left" style="margin: 10px; height: 400px;
  width: 400px;" ></div>
        {% for key in post %}

    <div style="width: 600px;
  margin: 20px;background-image: url('static/img/formbg.png')">
        <h2 style="color: white">{{ key }}</h2>
        {% if post[key] |length ==2 and post[key][1] |length ==3 %}
        <div>
        <h6 style="color: white">No Records Found!!</h6>
        </div>
        {% else %}
        <table style="border:3px solid white;box-shadow:2px 2px 2px white;
        padding: 50px;
        margin: 30px;
        width: 500px;
        color:white;
        font-size:25px;
        float: left;
        ">
            {% for x in post[key] %}
            <tr>
            {% for y in x %}
            <td style="padding: 10px;">{{ y }}</td>
            {% endfor %}
          </tr> 
            {% endfor %}
          </table>
        {% endif %}
    </div>
        {% endfor %}
{% if flag %}
<div id="map" class="map right" style="top: 0%;"></div>

<div id="popup" class="ol-popup">
  <a href="#" id="popup-closer" class="ol-popup-closer"></a>
  <div id="popup-content"></div>  

</div>
{% endif %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='mapping.js')}}"></script>
    <script src="{{url_for('static', filename='popup.js')}}"></script>
    </div>
  </body>
</html>

